.header, .footer {
  min-height: 85px;
  background-color: #F5F3F3;
}


/* Увеличение размера шрифта в заголовках аккордеона*/
.accordion-title_fontsize {
  font-size: 16px;
  font-weight: bold;
}


/* Левая граница у контента аккордеона*/
.accordion-content_text {
  border-left: 4px solid #1779BA;
  color: #797878;
}