.index__header__nav-min {
	background-color: #1779BA;
	padding: 10px 25px;
	display: none;
}

.index__header__nav {
	background-color: #1779BA;
	padding: 10px 25px;
}

.index__header__menu-link {
	color: white;
	font-size: 1.2rem;
}

.index__header__menu-sublink {
	color: #1779BA;
	text-align: left;
}

.index__header__menu-sublink:hover {
	color: white;
	background-color: #1779BA;
}

.header__title {
	font-size: 1.5rem;
}






@media screen and (max-width: 640px) {
	.index__header__nav-min {
		display: block;
	}

	.index__header__nav {
		display: none;
	}	
}

